:root {
  font-size: 18px;
  line-height: 1.8;
  --side-width: 240px;
  --content-width: 800px;
  --main-color: #9C9C9F;
  --main-bg: #FFFFFF;
}
html, body {
  margin: 0;
  background-color: var(--main-bg);
}
a {
  color: #0969da;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
i.fa-classic,
i.fa-regular,
i.fa-solid,
i.far,
i.fas { font-size: .8em; }
main {
  position: relative;
  left: 0;
  transition: left .5s;
}
article {
  box-sizing: border-box;
  margin: 0 auto !important;
  padding: 45px;
  min-width: 200px;
  max-width: var(--content-width);
}
article > h1.note-title {
  text-align: center;
}
article.markdown-body {
  font-size: 1rem;
  line-height: 1.8;
}
article.markdown-body p {
  text-indent: 2em;
}
article.markdown-body p * {
  text-indent: 0;
}
article.markdown-body mark {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: underline wavy 3px rgba(255, 66, 88, .5);
  text-underline-offset: -0.1rem;
}
article.markdown-body kbd {
  display: inline-block;
  background-color: #333338;
  color: #E3E3EC;
  border: 1px solid #E3E3EC;
  border-radius: 3px;
  padding: 0 .5rem;
  font-weight: bold;
  box-shadow: 0 4px 0 0 #E3E3EC;
  line-height: inherit;
}
foot {
  display: block;
  width: 100%;
  font-size: 12px;
  color: var(--main-color);
  text-align: center;
}
aside {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: calc(50% + var(--content-width)/2);
  transition: left .5s;
  z-index: 10;
  background-color: var(--main-bg);
  padding: 1rem;
  width: calc(50vw - var(--content-width)/2);
  min-width: var(--side-width);
  max-width: 360px;
  line-height: 1.4;
  color: var(--nav-color);
  --nav-color: var(--main-color);
}
aside > .toggle {
  display: none;
  position: absolute;
  top: 0;
  left: -2rem;
  cursor: pointer;
  color: var(--main-color);
}
aside > .aside-content {
  height: 100%;
  overflow-y: auto;
}
aside ul {
  margin: 0;
  padding: 0;
}
aside ul > li {
  list-style: none;
  border-left: var(--nav-color) 3px solid;
  padding-left: .5rem;
  margin-bottom: .5rem;
}
aside ul > li > a {
  color: var(--nav-color);
}
aside .nav .home:hover i {
  color: #0969da;
}
aside .nav .meow:hover i {
  color: #FF3355;
}
aside .nav .gotop:hover i {
  color: #ffbb00;
}
aside .toc {
  font-size: .72rem;
}
aside .toc li.active {
  --nav-color: #0969da;
}
aside small {
  font-size: .6rem;
}
.callout {
  /* --callout-color: 108, 153, 187; */
  --callout-color: 66, 66, 72;
  overflow: hidden;
  border-radius: 3px;
  margin: 1rem 0;
  background-color: rgba(var(--callout-color), .05);
  padding: .8rem, 1.2rem;
}
.callout.is-collapsible .callout-title {
  cursor: pointer;
}
.callout-title {
  display: flex;
  gap: .3rem;
  color: rgb(var(--callout-color));
  align-items: flex-start;
  padding: .5rem 1rem;
}
.callout-content {
  overflow-x: auto;
  padding: .5rem 1rem;
}
.callout-title-inner {
  font-weight: bold;
  color: rgb(var(--callout-color));
}
.callout-fold > i {
  transition: transform 100ms ease-in-out;
}
.callout.is-collapsed .callout-fold > i {
  transform: rotate(-90deg);
}
.callout.is-collapsed > .callout-content {
  display: none;
}
/* .callout.callout-abstract,
.callout.callout-summary,
.callout.callout-tldr,
.callout.callout-important,
.callout.callout-tip,
.callout.callout-hint {
  --callout-color: 115,187,178;
}
.callout.callout-info {
  --callout-color: 108,153,187;
}
.callout.callout-todo {
  --callout-color: 108,153,187;
}
.callout.callout-success,
.callout.callout-check,
.callout.callout-done {
  --callout-color: 168,195,115;
}
.callout.callout-question,
.callout.callout-help,
.callout.callout-faq {
  --callout-color: 213,118,63;
}
.callout.callout-warning,
.callout.callout-caution,
.callout.callout-attention {
  --callout-color: 213,118,63;
}
.callout.callout-failure,
.callout.callout-fail,
.callout.callout-missing,
.callout.callout-danger,
.callout.callout-error {
  --callout-color: 208,66,85;
}
.callout.callout-bug {
  --callout-color: 208,66,85;
}
.callout.callout-example {
  --callout-color: 158,134,200;
}
.callout.callout-quote,
.callout.callout-cite {
  --callout-color: 158, 158, 158;
} */
@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #e6edf3;
    --main-bg: #0d1117;
  }
  body {
    opacity: .7;
  }
}
@media (min-width: 800px) And (max-width: 1280px) {
  body.show-side > main {
    left: calc(50vw - var(--content-width)/2 - var(--side-width));
    width: 100%;
  }
  body.show-side aside {
    left: calc(100vw - var(--side-width));
  }
  aside > .toggle {
    display: block;
  }
}
@media (max-width: 800px) {
  body.show-side > main {
    left:  calc(0px - var(--side-width));
    width: 100%;
  }
  body.show-side aside {
    left: calc(100vw  - var(--side-width));
  }
  .markdown-body {
    padding: 15px;
  }
  aside {
    left: 100vw;
  }
  aside > .toggle {
    display: block;
  }
}